{{model.name}}
{{model.email}}

{{#each organization.roles as |role|}}
<div class="role">
  Role {{role.name}}
  {{organization-membership-checkbox
    user=model
    organizationRole=role
    changeset=changeset}}
</div>
{{/each}}

<button class='btn btn-primary' type='submit' {{action 'save'}}>Save</button>
